@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");
@font-face {
  font-family: "humanmadefont";
  src:
    url("../fonts/humanmade-webfont_1.woff2") format("woff2"),
    url("../fonts/humanmade-webfont_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Regular_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Regular_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Bold_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Bold_1.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
.p-notfound .p-page__head__inner {
  padding-top: 12rem;
  padding-bottom: 0rem;
}
.p-notfound__ImageList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.p-notfound__ImageItem {
  border-radius: 2rem;
  overflow: hidden;
  background-color: #fff;
  display: grid;
  place-content: center;
  place-items: center;
  opacity: 0;
}
.p-notfound__ImageItem .c-button {
  padding: 1.9rem 5rem 1.7rem;
}
.p-notfound__ImageItem .c-button .text {
  font-size: clamp(10px, 1.2rem, 14px);
  line-height: 1.5;
}
.p-notfound__ImageItem .c-button .dot {
  width: clamp(7px, 0.7rem, 10px);
  height: clamp(7px, 0.7rem, 10px);
  margin-left: 0.5em;
}
@media screen and (orientation: portrait) and (max-width: 767px) {
  .p-notfound .p-page__head__inner {
    padding-top: 7rem;
    padding-bottom: 0;
  }
  .p-notfound__ImageList {
    grid-template-columns: repeat(3, 1fr);
  }
  .p-notfound__ImageItem .c-button {
    padding: 1.3rem 3rem 1.1rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");
@font-face {
  font-family: "humanmadefont";
  src:
    url("../fonts/humanmade-webfont_1.woff2") format("woff2"),
    url("../fonts/humanmade-webfont_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Regular_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Regular_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Bold_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Bold_1.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: clamp(10px, 1.2rem, 12px); /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled="true"] {
  cursor: default;
}

:root {
  --leadSmall: clamp(14px, 1.6rem, 18px);
  --leadBig: clamp(38px, 4rem, 42px);
}

html {
  font-size: 0.6944444444vw;
}
html:lang(en) body {
  font-weight: 600;
}

body {
  width: 100%;
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-size: clamp(14px, 1.6rem, 18px);
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0;
  position: relative;
  color: #000;
  background-color: #f7f7f7;
  background-color: #808080;
  text-align: left;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}
body.is-openModalId {
  overflow: hidden;
}
body.is-openModalId .c-modalBg {
  opacity: 1;
}

article,
aside,
figure,
figcaption,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
section,
main {
  display: block;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  margin: 0;
  font-size: 100%;
}

input[type="submit"],
input[type="number"],
input[type="button"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
label,
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="submit"],
input[type="number"],
input[type="button"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="number"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100% !important;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

select {
  cursor: pointer;
  color: #000;
}

button {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 100%;
}

fieldset,
img {
  border: 0;
}

video,
img,
svg {
  width: 100%;
  height: auto;
  vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q:after,
q:before {
  content: "";
}

abbr,
acronym {
  border: 0;
}

i {
  font-style: normal;
}

::selection {
  background: #d7dbe2;
  color: #000;
}

::-moz-selection {
  background: #d7dbe2;
  color: #000;
}

_::-webkit-full-page-media,
_:future,
:root p::selection {
  background: #000;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
  /* スクロールバーがなくなってがたつくのを防ぐ */
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

html.lenis {
  height: auto;
}

.l-globalcontainer {
  position: relative;
  overflow-x: clip;
}

.is-MenuOpen .l-pagecontainer {
  transition: transform 0.55s cubic-bezier(0.57, 0.04, 0.26, 1);
}

.l-pagecontainer {
  transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.26, 1);
}

body.is-MenuOpen .l-header,
body.is-MenuOpen .l-heder__left,
body.is-MenuOpen .l-header-nav,
body.is-MenuOpen .l-header__right {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.l-heder__left,
.l-header-nav,
.l-header__right {
  opacity: 1;
  transition: opacity 0.2s ease;
  pointer-events: visible;
}

.l-header {
  width: 100%;
  height: 10rem;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  transition: opacity 0.3s ease 0.5s;
}
.l-heder__left {
  display: flex;
  align-items: center;
  gap: 10.6rem;
  grid-column: span 3;
  position: absolute;
  top: 5rem;
  left: 8rem;
  z-index: 5000;
  margin-left: -1em;
  margin-top: -1em;
}
.l-heder__left .l-header__menuTrigger {
  width: clamp(24px, 2.6rem, 32px);
  display: flex;
  padding: 1em;
  box-sizing: content-box;
}
.l-heder__left .l-header__menuTrigger .l-header__humberger {
  width: clamp(24px, 2.6rem, 32px);
  width: 100%;
  pointer-events: none;
}
.l-heder__left .l-header__menuTrigger .l-header__humberger path {
  fill: #fff;
  fill: #000;
}
.l-heder__left .l-header__logo {
  display: flex;
  width: clamp(130px, 15rem, 180px);
  margin-left: -1em;
}
.l-heder__left .l-header__logo path {
  fill: #fff;
  fill: #000;
}

.l-header-nav {
  background-color: #fff;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  gap: clamp(18px, 2rem, 22px);
  padding: clamp(10px, 1.2rem, 14px) clamp(23px, 2.5rem, 27px);
  grid-column: span 4;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  z-index: 5000;
}
.l-header-nav .l-nav__link {
  font-size: clamp(12px, 1.4rem, 16px);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.l-header__right {
  display: flex;
  align-items: center;
  gap: 11.1rem;
  grid-column: span 3;
  place-content: end;
  position: absolute;
  top: 3.8rem;
  right: 8rem;
  z-index: 5000;
}
.l-header__right .l-header__button {
  display: flex;
  align-items: center;
}
.l-header__right .l-header__mode {
  width: clamp(15px, 2.1rem, 27px);
  height: clamp(12px, 1.8rem, 24px);
  position: relative;
}
.l-header__right .l-header__mode .light,
.l-header__right .l-header__mode .dark {
  width: clamp(8px, 1.4rem, 20px);
  height: clamp(8px, 1.4rem, 20px);
  border-radius: 999999px;
}
.l-header__right .l-header__mode .light {
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.l-header__right .l-header__mode .dark {
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}

.l-header__mailBtn {
  display: grid;
  place-content: center;
  place-items: center;
  width: clamp(40px, 4.6rem, 52px);
  height: clamp(40px, 4.6rem, 52px);
  border-radius: 999em;
  background-color: #fff;
}
.l-header__mailBtn svg {
  width: clamp(14px, 1.6rem, 18px);
}
.l-header__mailBtn path {
  fill: #000;
}

.l-language {
  display: grid;
  place-content: center;
  place-items: center;
  width: clamp(40px, 4.6rem, 52px);
  height: clamp(40px, 4.6rem, 52px);
  border-radius: 999em;
  background-color: #fff;
  color: #000;
  font-size: clamp(12px, 1.4rem, 16px);
  font-weight: 700;
}

.l-footer {
  position: relative;
  background-color: #fff;
  z-index: 10;
  border-radius: 2.4rem;
  transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.26, 1);
}

.is-MenuOpen .l-footer {
  transition: transform 0.55s cubic-bezier(0.57, 0.04, 0.26, 1);
}

.l-footer__inner {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 4rem;
  width: 128rem;
  margin: 0 auto;
  padding: clamp(48px, 5rem, 52px) 0;
  margin: 0 auto;
}

.l-footer__head {
  grid-column: span 1;
}

.l-footer__logo {
  display: block;
  width: 12.8rem;
  margin-left: -1.8rem;
}
.l-footer__logo svg {
  pointer-events: none;
}

.l-footer__body {
  grid-column: 4/11;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.l-footer-nav {
  display: flex;
  gap: clamp(18px, 2rem, 22px);
  margin-left: -1em;
}
.l-footer-nav .l-nav__link {
  font-size: clamp(12px, 1.4rem, 16px);
  font-weight: 700;
  line-height: 1.5;
}

.l-footer-outer {
  display: flex;
  column-gap: 2rem;
  font-size: clamp(10px, 1.2rem, 14px);
  line-height: 1.5;
  font-weight: 700;
}

.l-footer__copylight small {
  font-size: inherit;
}

@keyframes menuOpen {
  0% {
    display: block;
    transform: translateX(-100%);
  }
  100% {
    display: block;
    transform: translateX(0);
  }
}
@keyframes menuClose {
  0% {
    display: block;
    transform: translateX(0);
  }
  99% {
    display: block;
    transform: translateX(-100%);
  }
  100% {
    display: block;
  }
}
.l-hambergerMenu {
  display: none;
  transform: translateX(-100%);
  border-radius: 2.4rem;
  background-color: #1c1c1c;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100.4rem;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  animation: menuClose 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.l-hambergerMenu[aria-hidden="false"] {
  display: block;
  pointer-events: all;
  height: 100%;
  animation: menuOpen 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.l-hambergerMenu__inner {
  padding: 13.2rem 8rem 11.6rem;
  padding: clamp(34px, 3.8rem, 42px) 8rem 7.25em;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}
.l-hambergerMenu__inner::-webkit-scrollbar {
  display: none;
}

.l-hambergerMenu__head {
  display: flex;
  align-items: center;
}

.l-hambergerMenu__close {
  display: flex;
  width: clamp(22px, 2.4rem, 28px);
}
.l-hambergerMenu__close g {
  mix-blend-mode: exclusion;
}
.l-hambergerMenu__close path {
  fill: #fff;
}

.l-hambergerMenu__logo {
  display: flex;
  width: clamp(130px, 15rem, 180px);
  margin-left: 10.7rem;
}
.l-hambergerMenu__logo g {
  mix-blend-mode: exclusion;
}
.l-hambergerMenu__logo path {
  fill: #fff;
}

.l-hambergerMenu__btn {
  display: flex;
  margin-left: auto;
}

.l-hambergerMenu__body {
  margin-top: 4.8rem;
}

.l-hambergerMenu__list {
  display: flex;
  column-gap: 4rem;
}
.l-hambergerMenu__item a {
  display: block;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
}
.l-hambergerMenu__item a::before {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
  opacity: 0;
  background-image: url("https://humanmade.co.j/img/projects/current.svg");
  background-size: cover;
  aspect-ratio: 122/107;
}

.l-hambergerMenu__pageLink::before {
  width: clamp(20px, 2.4rem, 26px);
  top: 50%;
  left: clamp(-28px, -3rem, -32px);
}

.l-hambergerMenu__contentsLink::before {
  width: clamp(16px, 1.8rem, 20px);
  top: calc(50% - 0.1em);
  left: clamp(-23px, -2.5rem, -27px);
}

.l-hambergerMenu__sectionsLink::before {
  width: clamp(14px, 1.6rem, 18px);
  top: calc(50% - 0.1em);
  left: clamp(-21px, -2.3rem, -25px);
}
.l-hambergerMenu__page:nth-child(n + 2) {
  margin-top: 8rem;
  margin-top: 5em;
}

.l-hambergerMenu__pageLink {
  font-size: clamp(30px, 3.2rem, 34px);
  line-height: 1.5;
}

.l-hambergerMenu__contentsBtn {
  display: block;
  margin-top: 0.5em;
  align-self: flex-end;
  width: clamp(22px, 2.6rem, 30px);
  height: clamp(22px, 2.6rem, 30px);
  border-radius: 999em;
  background-color: #fff;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
}
.l-hambergerMenu__contentsBtn[aria-expanded="true"]::before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.l-hambergerMenu__contentsBtn::before {
  content: "";
  background-image: url("../images/arrow-detailsBlack_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7em;
  aspect-ratio: 8/4.67;
  transition: transform 0.2s ease;
}

.l-hambergerMenu__contentsInner {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  row-gap: 2rem;
}
.l-hambergerMenu__item:nth-child(2) .l-hambergerMenu__contentsInner {
  row-gap: 4rem;
}

.l-hambergerMenu__item:nth-child(2) .l-hambergerMenu__contentsItem:nth-child(3) {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.l-hambergerMenu__contentsLink {
  font-size: clamp(16px, 1.8rem, 20px);
  line-height: 1.5;
}

.l-hambergerMenu__sections {
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
  row-gap: 0.6rem;
}
.l-hambergerMenu__sections + .l-hambergerMenu__contentsLink {
  padding-top: 1.5rem;
}

.l-hambergerMenu__sectionsLink {
  font-size: clamp(11px, 1.3rem, 15px);
  line-height: 1.6;
  letter-spacing: -0.05em;
}
.p-page__head {
  border-radius: 2.4rem;
  background-color: #f7f7f7;
  position: relative;
}

.p-page__head__inner {
  width: 128rem;
  margin: 0 auto;
  padding-top: 20rem;
  padding-bottom: 11.6rem;
}

.p-page__title.-vertical {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 4rem;
}
.p-page__title.-vertical .en {
  grid-column: span 2;
}
.p-page__title.-vertical .ja {
  grid-column: span 8;
}
.p-page__title.-horizontal {
  display: flex;
  flex-direction: column;
}
.p-page__title.-horizontal .ja {
  margin-top: 2.2rem;
  position: relative;
}
.p-page__title .en {
  font-size: clamp(14px, 1.6rem, 18px);
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 700;
}
.p-page__title .ja {
  font-size: clamp(34px, 3.8rem, 42px);
  font-weight: 700;
  line-height: 1.8;
}
html:lang(en) .p-page__title .ja {
  line-height: 1.5;
  letter-spacing: 0.001em;
  font-size: clamp(36px, 4rem, 48px);
}

.u-hidden {
  display: none;
}

.u-dib {
  display: inline-block;
}

.u-lineImage {
  position: relative;
}
.u-lineImage::before {
  content: "";
  background-image: url("https://humanmade.co.j/img/projects/line.svg");
  background-position: center bottom;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.u-lineImage.-first:nth-child(1)::after {
  content: "";
  background-image: url("https://humanmade.co.j/img/projects/line.svg");
  background-position: center bottom;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.u-emoji {
  font-family: "emoji", "Inter", "Zen Kaku Gothic New", sans-serif;
}
.u-ml6em {
  margin-left: -0.6em;
}

.u-ml48em {
  margin-left: -0.48em;
}

.u-mt35em {
  margin-top: -0.35em;
}

@media screen and (orientation: portrait) and (max-width: 767px) {
  html {
    font-size: 2.5641025641vw;
  }
  input[type="number"],
  input[type="password"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    padding: 0;
  }
  .l-heder__left {
    gap: 0;
    top: 1.5rem;
    left: 2rem;
    width: calc(100% - 4rem);
    margin: 0;
  }
  .l-heder__left .l-header__menuTrigger {
    width: clamp(30px, 3.4rem, 40px);
    height: clamp(30px, 3.4rem, 40px);
    background: #fff;
    border-radius: 999em;
    align-items: center;
    justify-content: center;
    margin-left: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }
  .l-heder__left .l-header__menuTrigger .l-header__humberger {
    width: clamp(18px, 2.2rem, 28px);
  }
  .l-heder__left .l-header__logo {
    order: 1;
    margin-top: 0.8rem;
    margin-left: 0;
  }
  .l-header-nav {
    display: none;
  }
  .l-header__right {
    order: 2;
    top: 1.5rem;
    right: 6.7rem;
  }
  .l-header__right .l-header__button .c-icon-instagram {
    display: none !important;
  }
  .l-header__right .l-header__mode {
    display: none;
  }
  .l-header__mailBtn {
    display: none;
  }
  .l-language {
    width: clamp(30px, 3.4rem, 40px);
    height: clamp(30px, 3.4rem, 40px);
  }
  .l-footer__inner {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.5rem;
  }
  .l-footer__inner {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .l-footer__inner {
    padding: clamp(48px, 5rem, 52px) clamp(18px, 2rem, 22px);
  }
  .l-footer__head {
    grid-column: 1/4;
    place-self: center;
  }
  .l-footer__logo {
    margin-left: 2rem;
    margin-top: -0.8rem;
    width: 12rem;
  }
  .l-footer__body {
    width: 100%;
    grid-column: 4/9;
    place-self: center;
    flex-direction: column;
    padding-left: 3.1rem;
  }
  .l-footer-nav {
    gap: 0;
    margin-top: -0.8rem;
    margin-left: 0;
    flex-wrap: wrap;
  }
  .l-footer-nav .l-nav__link {
    padding: 0.4rem 0;
    width: 50%;
  }
  .l-footer-outer {
    flex-direction: column;
    width: 100%;
    margin-top: 1.6rem;
    font-size: clamp(9px, 1.1rem, 13px);
    row-gap: 0.3rem;
  }
  .l-hambergerMenu {
    border-radius: 1.6rem;
  }
  .l-hambergerMenu {
    width: 100vw;
    width: 32.7rem;
  }
  .l-hambergerMenu__inner {
    width: 128rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 11.5rem;
  }
  .l-hambergerMenu__close {
    order: 3;
  }
  .l-hambergerMenu__logo {
    order: 1;
    margin-left: 0;
  }
  .l-hambergerMenu__btn {
    order: 2;
    margin-right: 2.5rem;
  }
  .l-hambergerMenu__btn .l-header__mailBtn {
    display: none;
  }
  .l-hambergerMenu__body {
    font-weight: 600;
  }
  .l-hambergerMenu__list {
    flex-direction: column;
  }
  .l-hambergerMenu__item:nth-child(n + 2) .l-hambergerMenu__page {
    margin-top: 1.875em;
  }
  .l-hambergerMenu__page {
    display: flex;
    justify-content: space-between;
    display: block;
    position: relative;
  }
  .l-hambergerMenu__page:nth-child(n + 2) {
    margin-top: 1.875em;
  }
  .l-hambergerMenu__pageLink {
    font-size: clamp(22px, 2.4rem, 26px);
    width: max-content;
  }
  .l-hambergerMenu__contents {
    width: 18.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    width: 100%;
    position: static;
  }
  .l-hambergerMenu__contents::before {
    content: "";
    width: clamp(40px, 4.5rem, 50px);
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 1.2em;
    right: 5rem;
  }
  .l-hambergerMenu__contentsWrapper {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    will-change: height;
  }
  .l-hambergerMenu__contentsLink {
    font-size: clamp(14px, 1.6rem, 18px);
  }
  .p-page__head {
    border-radius: 1.6rem;
  }
  .p-page__head__inner {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .p-page__head__inner {
    padding-top: 18.2rem;
    padding-bottom: 7rem;
  }
  .p-page__title.-vertical {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.5rem;
  }
  .p-page__title.-vertical {
    flex-direction: column;
    gap: 1.5rem;
  }
  .p-page__title.-vertical .en {
    grid-column: span 8;
    width: 100%;
  }
  .p-page__title.-vertical .ja {
    grid-column: span 8;
    width: 100%;
  }
  .p-page__title.-vertical .ja span {
    text-wrap: nowrap;
  }
  .p-page__title.-horizontal .ja {
    margin-top: 1.5rem;
  }
  html:lang(en) .p-page__title .ja {
    letter-spacing: 0.001em;
    font-size: clamp(24px, 2.8rem, 32px);
  }
  .p-page__title .ja {
    font-size: clamp(24px, 2.8rem, 32px);
    letter-spacing: -0.03em;
  }
  .p-page__title .ja span {
    display: inline-block;
  }
  .u-sp-hidden {
    display: none;
  }
  .u-mt35em {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  a:hover {
    text-decoration: none;
  }
  .l-hambergerMenu__item {
    width: 22.4rem;
  }
  .l-hambergerMenu__contentsBtn {
    display: none;
  }
  .u-pc-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .l-header-nav {
    left: calc(50% + 5em);
  }
  .l-hambergerMenu {
    width: 120rem;
  }
  .l-hambergerMenu__list {
    column-gap: 8rem;
  }
  .l-hambergerMenu__item {
    width: 32.4rem;
  }
  .p-page__title .ja {
    font-size: clamp(28px, 3.2rem, 36px);
  }
}

@media screen and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) {
  .l-hambergerMenu__inner {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .l-hambergerMenu__item a:hover::before {
    opacity: 1;
  }
}
@font-face {
  font-family: "emoji";
  src:
    url(../fonts/hm_emoji-Regular_1.woff2) format("woff2"),
    url(../fonts/hm_emoji-Regular_1.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");
@font-face {
  font-family: "humanmadefont";
  src:
    url("../fonts/humanmade-webfont_1.woff2") format("woff2"),
    url("../fonts/humanmade-webfont_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Regular_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Regular_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "emoji";
  src:
    url("../fonts/hm_emoji-Bold_1.woff2") format("woff2"),
    url("../fonts/hm_emoji-Bold_1.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
.c-button {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: #000;
  color: #fff;
  border-radius: 999em;
  padding: 2.4rem 5rem;
}
.c-button .text {
  font-size: clamp(14px, 1.6rem, 18px);
  line-height: 2.22;
  font-weight: 700;
  pointer-events: none;
}
.c-button .dot {
  width: clamp(10px, 1.2rem, 14px);
  height: clamp(10px, 1.2rem, 14px);
  background-color: #fff;
  border-radius: 99999px;
  margin-left: 1em;
  pointer-events: none;
}
